.ui-tabs-nav {
	float: left;
	overflow: hidden;
	width: 20%;
}
.ui-tabs-panel {
	overflow: hidden;
	width: 70%;
	display: block;
}

/* Tabs Styles */
#tabs {
	overflow: hidden;
}
#tabs ul {
	margin-right: 50px;
}
#tabs li {
	border: 1px solid #eee;
	cursor: pointer;
}
#tabs li.ui-state-active {
	background: #f3f6f9;
}
#tabs li a {
	padding: 10px;
	text-decoration: none;
	display: inline-block;
}
#tabs div {
	padding: 35px;
	border: 1px solid #eee;
}